# Supabase (required for auth)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_BOTPRESS_CONFIG_SCRIPT_URL=
SUPABASE_SERVICE_ROLE_KEY=

#Stripe Configuration
STRIPE_PREMIUM_PRICE_ID=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

#Public URL
NEXT_PUBLIC_APP_URL=

#Botpress Configuration
BOTPRESS_WEBHOOK_URL=

# Brevo SMTP Configuration
BREVO_SMTP_USER=
BREVO_SMTP_KEY=
BREVO_FROM_EMAIL=